In [1]:
import pandas as pd

In [2]:
df_1=pd.read_csv("daily_sales_data_0.csv")

In [3]:
df_2=pd.read_csv("daily_sales_data_1.csv")

In [4]:
df_3=pd.read_csv("daily_sales_data_2.csv")

In [5]:
df= pd.concat([df_1, df_2, df_3], ignore_index= True)

In [6]:
df.head(5)

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [7]:
df.columns

Index(['product', 'price', 'quantity', 'date', 'region'], dtype='object')

In [8]:
df["product"].value_counts(dropna=False)

product
pink morsel          5880
gold morsel          5880
magenta morsel       5880
chartreuse morsel    5880
periwinkle morsel    5880
vermilion morsel     5880
lapis morsel         5880
Name: count, dtype: int64

In [9]:
df= df[df["product"]== "pink morsel"]

In [10]:
df["product"].value_counts(dropna=False)

product
pink morsel    5880
Name: count, dtype: int64

In [11]:
df["price"].value_counts(dropna=False)

price
$3.00    4296
$5.00    1584
Name: count, dtype: int64

In [12]:
df.columns

Index(['product', 'price', 'quantity', 'date', 'region'], dtype='object')

In [13]:
df["price"] = df["price"].str.replace("$", "", regex=False)
df["price"]= df["price"].astype(float)
df["quantity"]= df["quantity"].astype(int)

In [14]:
df["quantity"].value_counts()

quantity
500    57
578    57
519    55
511    54
550    54
       ..
494    10
437     9
406     7
420     6
493     5
Name: count, Length: 201, dtype: int64

In [15]:
df["sales"]= df["price"] * df["quantity"]

In [16]:
df["sales"].value_counts()

sales
1734.0    57
1557.0    55
1650.0    54
1662.0    54
1533.0    54
          ..
2355.0    10
2185.0     9
2030.0     7
2100.0     6
2465.0     5
Name: count, Length: 202, dtype: int64

In [17]:
df= df.drop(["quantity" , "price", "product"], axis= 1 )

In [18]:
df.columns

Index(['date', 'region', 'sales'], dtype='object')

In [19]:
df.to_csv("combined_file.csv", index= False)